<!DOCTYPE HTML>
{% load static %}
<html lang="ko">
	{% include 'head.html' %}

	<body class="homepage is-preload" style="background: gray;">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header" style="background-image: url({% static 'images/header.jpg' %})">
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="{% url 'newsapp:home' %}" id="logo"><span style="color: #ffd700">O</span>CONNECT</a></h1>
								<hr />
								<strong style="color: white;">Connect us, Connect World</strong>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Start</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{% url 'newsapp:home'%}">HOME</a></li>
								<li><a href="#banner">STORY</a></li>
								<li><a href="#product">PRODUCTS</a></li>
								<li><a href="#footer">NEWS</a></li>
								<li><a href="#contacts">CONTACTS</a></li>
								<li style="color: #ffd700"><a href="{% url 'accountapp:create' %}">SIGNUP</a></li>

								{% if not user.is_authenticated %}

								<li style="color: #ffd700"><a href="{% url 'accountapp:login' %}?next={{ request.path }}">LOGIN</a></li>

								{% else %}

								<li style="color: #ffd700"><a href="{% url 'accountapp:logout' %}?next={{ request.path }}">LOGOUT</a></li>

								{% endif %}

							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Footprint of <strong>Oconnect</strong>.</h2>
						<p>
							"Oconnect" 는 다양한 도전과 값진 피드백을 통해 계속해 성장하고 발전합니다
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/1.png'%}" alt="1" /></a>
							<header>
								<h4><a href="#">UNIST 학생창업지원프로그램</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p>울산과학기술원 학생창업지원프로그램에 4회 연속 선정되었습니다.</p>
								<p>2019.06. ~ 2021.03.</p>
							</div>

						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/2.png'%}" alt="2" /></a>
							<header>
								<h4><a href="#">2020 예비창업패키지 일반분야</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p>예비창업패키지 일반분야에 선정 및 우수 수료하였습니다.</p>
								<p>2020.04.29. </p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/3.png'%}" alt="3" /></a>
							<header>
								<h4><a href="#">특허청 IP 디딤돌 프로그램</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 특허청 IP 디딤돌 프로그램에 <br>선정되었습니다.</p>
								<p>2020.06. ~ 2020.12.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/4.png'%}" alt="4" /></a>
							<header>
								<h4><a href="#">2020 소셜챌린지 a7</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 2020 소셜챌린지 a7에 <br>선정되었습니다.</p>
								<p>2020.09.29.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/5.png'%}" alt="5" /></a>
							<header>
								<h4><a href="#">2020 울산 지식기술창업센터 10기</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 울산 지식기술창업센터 10기에 선정되었습니다.</p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/6.png'%}" alt="6" /></a>
							<header>
								<h4><a href="#">UNIST BM고도화 프로그램</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> UNIST 기술기반 학생창업기업 BM 고도화프로그램에 선정되었습니다. </p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/7.png'%}" alt="7" /></a>
							<header>
								<h4><a href="#">창업우수아이디어 공모전 1위 (대상)</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 울산지역대학 창업우수아이디어 공모전에서 대상을 수상하였습니다.</p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/8.png'%}" alt="8" /></a>
							<header>
								<h4><a href="#">2020 UNIST Startup Competition</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 2020 UNIST Startup Competition 에 참가하여 2위에 선정되었습니다. </p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/9.png'%}" alt="9" /></a>
							<header>
								<h4><a href="#">과기특성화대학 공동창업경진대회</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 2020 과기특성화대학 공동창업경진대회에 UNIST 대표로 참가했습니다. </p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/10.png'%}" alt="10" /></a>
							<header>
								<h4><a href="#">청년창업사관학교 프리스쿨</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 청년창업사관학교 프리스쿨에 선정 및 우수 성적으로 수료하였습니다.</p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/11.png'%}" alt="11" /></a>
							<header>
								<h4><a href="#">울산 청년 CEO 육성사업</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 2021 울산 청년 CEO 육성사업에 최종 선정되었습니다. </p>
								<p>2020.10.16.</p>
							</div>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'images/footprint/12.png'%}" alt="12" /></a>
							<header>
								<h4><a href="#">2021 청년창업사관학교</a></h4>
							</header>
							<div style="font-size: 1rem; height: 6rem;">
								<p> 2021 청년창업사관학교에 최종선정 되었습니다. </p>
								<p>2020.10.16.</p>
							</div>
						</article>

					</div>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a class="image featured" id="player">
							<iframe width="100%" height="100%" style="display: flex; margin-top: 3rem;" src="https://www.youtube.com/embed/C3fjHDUZ8m8" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
							</iframe>
						</a>
						<header>
							<h2><a href="">Who we are ?</a></h2>
							<p>
								OCONNECT는 무심코 지나친 가치를 새로이 발견하고 우리의 삶과 연결하는 <br>사회적 기업이 되기 위해
								노력합니다.
							</p>
						</header>
						<p>
							현재 OCONNECT 에서는 어디서든, 어떻게든 꽂히는 콘센트인 <strong>‘원스탭(One-step)’</strong>을 개발 중에 있습니다.
							그동안 수많은 대회와 엑셀러레이팅 프로그램에 참여하며 제품을 발전시켜왔고, 시장에 제품 첫 출시와 와디즈 크라우드펀딩을 앞두고 있습니다.
							OCONNECT에서는 무심코 지나친 가치를 새로이 발견해 우리의 삶과 연결하는 데에 주안점을 갖고 활동합니다. 누구나 공감하지만 쉽게 지나쳐온 수많은 불편,
							그리고 소외된 사람들이 겪어온 불편을 해소할 새로운 제품들을 만들겠다는 의지를 갖고 목표를 향해 달려가고 있습니다.
						</p>
						<footer>
							<a href="https://www.youtube.com/channel/UCnYApNMkr3LfysaSTcdG3Cw" class="button">GO YOUTUBE</a>
						</footer>
					</article>

				</div>

			<!-- Features -->
				<div class="wrapper style1" id="product">

					<section id="features" class="container special">
						<header>
							<h2><span style="color: #ffd700">O</span>NE STEP</h2>
							<p>어디서든, 어떻게든 꽃히는 콘센트, 원스탭! <strong>OCONNECT</strong>의 첫걸음이자, 한번에 꽃을 수 있다는 의미로 <br><strong>ONE STEP</strong>이라는 이름을 가지게된 저희의 제품은
								눈에 보이지 않는 위치에 자리잡은 콘센트나 어두운 곳에서 콘센트를 꽃아야하는 상황에서도 쉽게 꽃을 수 있는 제품을 만들자는 생각에서 시작되었습니다.
							</p>
						</header>
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/product/product1.png'%}" alt="1" /></a>
								<header>
									<h3><a href="#">멀티탭, 확장탭</a></h3>
								</header>
								<p>
									제품 개발이 완료된 상태로 <a>OHMYCOMPANY (오마이컴퍼니)</a>에서 클라우드펀딩에 참여했었으며
									2021년 내로 온/오프라인으로 판매될 예정입니다.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/product/product2.png'%}" alt="2" /></a>
								<header>
									<h3><a href="#">매립형 콘센트</a></h3>
								</header>
								<p>
									시제품 개발이 완료된 상태이며 제품 개발이 완료된 이후엔 공공시설 및 건물 시공업체에 납품을 계획하고 있습니다.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/product/product3.png'%}" alt="3" /></a>
								<header>
									<h3><a href="#">IoT 콘센트</a></h3>
								</header>
								<p>
									사업영역을 확장하기 위해 아이디어를 구상중에 있으며 개발을 계획 중에 있습니다. 온/오프라인 및 시공업체에 납품을 계획하고 있습니다.
								</p>
							</article>
						</div>
					</section>

				</div>

			<!-- Footer -->
				<div id="footer">
					{% if user.is_staff %}
					<div class="text-center" ><a href="{% url 'newsapp:create' %}" style="text-decoration: none;">뉴스 추가하기 (STAFF)</a></div>
					{% endif %}

					<div class="container">
						<div class="row">

							<!-- Tweets -->
								<section class="col-6 col-12-mobile">
									<header>
										<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
									</header>
									<ul class="divided">

										{% if news_list %}
										{% for list in news_list %}
										<li>
											<article class="tweet">
												{{ list.title }}
												<span class="timestamp">{{ list.show_date }}</span>
												{% if user.is_staff %}
												<span><a href="{% url 'newsapp:update' pk=list.pk %}" style="text-decoration:none;">수정</a></span> |
												<span><a href="{% url 'newsapp:delete' pk=list.pk %}" style="text-decoration:none;">삭제</a></span>
												{% endif %}
											</article>
										</li>
										{% endfor%}
										{% endif%}


										<li>
											<article class="tweet">
												깃허브 커밋을 일상화하자깃허브 커밋을 일상화하자깃허브 커밋을 일상화하자깃허브 커밋을 일상화하자
												<span class="timestamp">5 minutes ago</span>
											</article>
										</li>

									</ul>
								</section>


							<!-- Photos -->
								<section class="col-6 col-12-mobile">
									<header>
										<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
									</header>
									<div class="row gtr-25">
										{% if news_list %}
										{% for list in news_list %}
										<div class="col-6">
											<a href="#" class="image fit"><img src="{{list.image.url}}" alt="" /></a>
										</div>
										{% endfor%}
										{% endif%}
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'images/product/product3.png'%}" alt="" /></a>
										</div>

									</div>
								</section>

						</div>
						<hr style="margin-bottom: 3rem;"/>
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact" id="contacts">
										<header>
											<h3>Contact with OCONNECT</h3>
										</header>
										<p>울산과학기술원 울주학사 1층 UNISPARK  |  사업자등록번호: 881-40-00725  |  대표자: 방형준</p>
										<ul class="icons">
											<li><a href="https://m.facebook.com/profile.php?id=100615271652569&ref=content_filter" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://m.facebook.com/profile.php?id=100615271652569&ref=content_filter" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/oconnect_official/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.youtube.com/channel/UCnYApNMkr3LfysaSTcdG3Cw" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
											<li><a href="mailto:ekekr1204@unist.ac.kr" class="icon brands"><i class="fas fa-envelope-square"><span class="label"></span></i></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; OCONNECT. All rights reserved.</li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

	<!-- Scripts -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js'%}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js'%}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js'%}"></script>
    <script src="{% static 'js/browser.min.js'%}"></script>
    <script src="{% static 'js/breakpoints.min.js'%}"></script>
    <script src="{% static 'js/util.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>

	</body>
</html>